    :root{
        --bg: #0D0D0D;
        --bg-elevated: #1A1A1A;
        --text: #F2F2F0;
        --text-muted: #9A9A9A;
        --accent: #E5002B;
        --accent-dark: #8C0019;
        --border: #2A2A2A;

        --font-heading: 'Space Grotesk', sans-serif;
        --font-body: 'Inter', sans-serif;

    }

    /* RESET */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        font-family: var(--font-body);
        background: var(--bg);
        color: var(--text);
        line-height: 1.6;
    }

    h1, h2, h3{
        font-family: var(--font-heading);
        line-height: 1.1;
    }

    a {
        gap: 30px;  
        color: inherit;
        text-decoration: none;
    }

    /* ---------- HEADER ---------- */

    header {
        position: sticky;
        top: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        background: var(--bg);
        border-bottom: 1px solid var(--border);
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: var(--font-heading);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.02em;
    }

    .logo img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    nav {
        display: flex;
        gap: 32px;
    }

    nav a:hover {
        color: var(--accent);
    }

    /* ---------- HERO ---------- */

    .hero{
        padding: 120px 40px;
        max-width: 700px;
    }

    .hero h1{
        font-size: 56px;
        margin-bottom: 18px;
    }

    .hero p{
        font-size: 18px;
        color: var(--text-muted);
        margin-bottom: 32px;
    }

    .btn-primary{
        grid: 40px;
    }

    /* ---------- PAGE HEADER (páginas internas) ---------- */

    .page-header{
        padding: 60px 40px 40px ;
    }

    .page-header h1{
        font-size: 36px;
        margin-bottom: 8px;
    }

    .page-header p{
        color: var(--text-muted);
        font-size: 16px;
    }


    /* ---------- ARTIST GRID ---------- */
    /*.artist-grid {
        display: grid;
        grid-template-columns: repeat(3, 1frr);
        gap: 50px;
        padding: 0 40px 80px;
    }*/


    /* ---------- ARTIST CAROUSEL ---------- */

    .artist-carousel{
        position: relative;
        padding: 0 40px 80px;
    }


    .artist-grid{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 180px;
        gap: 60px;
        list-style: none;
        padding: 20px 100px 0px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none; /* esconde a barra de rolagem no Firefox */
    }

    .artist-grid::webkit-scrollbar{
        display: none; /* esconde a barra no chrome/safari */
    }


    .artist-grid span{
        color: var(--text);
    }


    .artist-grid h3{
        padding: 0px 20px;
    }


    .scroll-btn{
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: var(--text);
        font-size: 28px;
        cursor: pointer;
        padding: 8px;
        opacity: 0.7;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .scroll-btn.scroll-left{
        color: var(--text);
        left: 8px;
    }

    .scroll-btn.scroll-right{
        right: 8px;
    }

    .scroll-btn:hover{
        opacity: 1;
        color: var(--accent);
        transform: translateY(-50%) translateX(4px);
    }

    .scroll-btn.scroll-right:hover {
        transform: translateY(-50%) translateX(4px);
    }

    .scroll-btn.scroll-left:hover {
        transform: translateY(-50%) translateX(-4px);
    }

    /* ---------- ARTIST CARD ---------- */

    .artist-card{
        background: var(--bg-elevated);
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.2s ease;
    }


    .artist-card:hover{
        transform: translateY(-4px);
    }

    .artist-card img{
        align-items: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        max-width: 300px;
    }

    .artist-card p{
        font-size: 13px;
        color: var(--text-muted);
        padding: 0 36px 15px;
    }

    .section-title{
        font-size: 21px;
        margin-left: 48px;
        margin-bottom: 20px;
        
    }

    .hero-actions{
        display: flex;
        gap: 30px;
    }

    .btn-secondary{
        display: inline-block;
        background: transparent;
        color: var(--text);
        font-family: var(--font-heading);
        font-weight: 750;
        padding: 6px 50px;
        border: 2px solid var(--border);
        border-radius: 6px;
        transition: border-color 0.2s ease, color 0.2s ease;
    }

    .btn-secondary:hover{
        border-color : var(--accent);
        color: var(--accent);
    }

    .album-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 32px;
        padding: 0 40px 80px;
    }

    .album-card img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 12px;
        transition: transform 0.2s ease;
    }

    .album-grid,
    .album-detail{
        transition: opacity 0.3s ease;
    }

    .is-hidden{
        padding: 0 40px 80px;
    }

    .back-btn{
        background: none;
        border: none;
        color: var(--text-muted);
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 32px;
        transition: color 0.2s ease;
    }

    .back-btn:hover{
        color: var(--accent);
    }

    .album-detail-header{
        display: flex;
        gap: 32px;
        align-items: flex-end;
        margin-bottom: 40px;
    }

    .album-detail-header img{
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 8px;
    }

    .album-detail-info h2{
        font-size: 40px;
        margin-bottom: 8px;
    }

    .album-detail-info p{
        color: var(--accent);
        font-size: 15px;
    }